
@media screen and (max-width: 474px) {
    .footer{
        height: 45vh;
        >h2{
            margin-top: 10%;
            font-size: 3rem;
        }
        .bot{
            margin-top: 12%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            >span{
                >a{
                    font-size: 2rem;
                }
            }
        }
        >p{
            margin-top: 20%;
        }
    }
}